* {
	margin:0;
	padding:0;
	border-style:dashed;
	border-width:1px;
	border-color:black;
}

body {
	font:14px Helvetica, Sans-Serif;
	display:block;
}

#pageWrap {
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

header {
	text-transform:lowercase;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#menuList {
	display:inline-block;
	list-style-type:none;
}

aside {
	float:right;
	width:10%;
	background:;
}

#profPic {
	height:72px;
	width:72px;

}