* {
	margin:0;
	padding:0;
	/*border:1px dashed #000;*/
}

@media screen and (min-width:960px) {
	#headerContainer {
		border-radius:50%;
		width:50em;
		height:50em;
		background-color:rgba(0,0,0,0.4);
		position:fixed;
		top:-31em;
		left:-22em;
	}

	#headerContent {
		position:fixed;
		top:0.75em;
		left:1.5em;
	}

	#homeNav {
		position:fixed;
		top:0;
		right:0;
		padding:0.75em;
		border-bottom-left-radius:5px;
		max-width:45em;
	}

	#menuButton {
		position:fixed;
		top:0;
	}

	#menuList {
		position:fixed;
		top:3.5em;
	}

	.portFull {
		width:60%;
	}

}

@media screen and (max-width:960px) and (min-width:600px) {
	header {
		width:100%;
	}

	#headerContent{
		padding:0.75em 1em;
	}

	#headerContainer {
		display:block;
		margin:0 auto;
		text-align:center;
	}

	#socialMedia {
		display:block;
		margin:0 auto;
	}

	#homeNav {
		display:block;
		margin:0em auto;
		padding:0.5em;
		text-align:center !important;
		width:100%;
	}

	#menuButton {
		position:absolute;
		top:14.6em;
	}

	#menuList {
		position:absolute;
		top:18.1em;
	}

	.portFull {
		width:80%;
	}	
}

@media screen and (max-width:600px) and (min-width:400px) {
	header {
		width:100%;
	}

	#headerContent{
		padding:0.75em 0em;
	}

	#headerContainer {
		display:block;
		margin:0 auto;
		text-align:center;
	}

	#socialMedia {
		display:block;
		margin:0 auto;
	}

	#homeNav {
		display:block;
		margin:0em auto;
		padding:0.5em;
		text-align:center !important;
		width:100%;
	}

	#homeNav ul li {
		display:block !important;
		margin:1em;
	}

	#menuButton {
		position:absolute;
		top:14.6em;
	}

	#menuList {
		position:absolute;
		top:18.1em;
	}

	.portFull {
		width:100%;
	}
}

@media screen and (max-width:400px) {
	header {
		width:100%;
	}

	#headerContent{
		padding:0.75em 0em;
	}

	#headerContainer {
		display:block;
		margin:0 auto;
		text-align:center;
	}

	#socialMedia {
		display:block;
		margin:0 auto;
	}

	#homeNav {
		display:block;
		margin:0em auto;
		padding:0.5em;
		text-align:center !important;
		width:100%;
	}

	#homeNav ul li {
		display:block !important;
		margin:1em;
	}

	#pC {
		width:100%;
	}

	.portfolioPiece {
		border-radius:0 !important;
	}

	#aboutMe p {
		width:90%;
	}

	#menuButton {
		position:absolute;
		top:14.6em;
	}

	#menuList {
		position:absolute;
		top:18.1em;
	}

	.portFull {
		width:100%;
	}
}

body {
	font-size:10px;
	font-family:"Josefin Sans", Calibri, sans-serif;
	color:#fff;
	background-color:#e04006;
}

#pageWrap {
	width:100%;
	min-width:310px;
}

a {
	text-decoration:none;
	color:#fff;
	cursor:pointer;
}

h1 {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:5em;
	text-transform:lowercase;
}

h3 {
	font-size:2em;
	text-transform:uppercase;
}

#headerContainer {
	background-color:rgba(0,0,0,0.4);
}

#myTitle {
	font-size:1.5em;
	margin-top:0.4em;
}

#socialMedia {
	margin-top:0.75em;
}

#socialMedia img {
	height:3em;
	width:auto;
	display:inline;
}

#socialMedia img:hover{
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

#homeNav {
	text-transform:lowercase;
	text-align:right;
	background-color:rgba(0,0,0,0.4);
}

#homeNav ul {
	list-style-type:none;
	padding:0.5em;
}

#homeNav ul li {
	font-family:"Copse", serif;
	display:inline;
	padding:0 0.75em;
	font-size:1.5em;
}	

nav ul a:link, nav ul a:visited {
	text-decoration:none;
	color:#fff;
}

nav ul a:hover, nav ul a:active {
	border-bottom:2px solid #fff;
}

section {
	padding:1.5em 0 5em 0;
	text-align:center;
}

h2 {
	font-family:"Copse", serif;
	font-size:3em;
	margin:0.75em;
	text-transform:lowercase;
}

#portfolio {
	text-align:center;
}

#pC {
	position:relative;
	max-width:40em;
	height:70em;
	display:block;
	margin:0 auto;
	text-align:center;
}

#pC article {
	-webkit-transition: opacity 1s ease-in-out;
  	-moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
  	transition: opacity 1s ease-in-out;
  	opacity:0;
  	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
  	position:relative;
}

.opaque {
	opacity:1 !important;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	filter: alpha(opacity=1) !important;
  	z-index:1;
}

.portfolioPiece {
	border-radius:50%;
	max-width:40em;
	max-height:40em;
	overflow:hidden;
	position:absolute;
}

.portfolioPiece img {
	max-width:100%;
	height:auto;
}

.portfolioText {
	background-color:rgba(0,0,0,0.5);
	margin-top:1em;
	padding:1.5em;
	text-align:left;
	max-width:40em;
	position:absolute;
	top:41em;
}

.portfolioText p:nth-child(2) {
	font-style:italic;
	margin-bottom:1em;
	font-size:1.5em;
}

p {
	font-size:1.75em;
	line-height:125%;
}

.portfolioText p a {
	font-weight:bold;
	color:#50A6C2; /*Lake Michigan*/
}

.portfolioText p a:hover {
	text-decoration:underline;
}

input {
	display:none;
}

#pC_controls span {
	cursor:pointer;
	margin:0 1%;
	padding:0.5em 1.1em;
	border-radius:50%;
	border:0.25em #383838 solid;
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#pC_controls span:hover, #pC_controls span.selected:hover, #pC_controls span.selected {
	background: #383838;
}

#aboutMe, #links, #jfnr, #baja {
	background-color:#fff;
	color:#000;
}

#aboutMe p {
	max-width:20em;
	display:block;
	margin:0 auto;
	text-align:justify;
}

#aboutMe img {
	border-radius:50%;
	height:30em;
	width:30em;
	display:block;
	margin:1.5em auto;
}

#contact {
	text-align:center;
}

#contact a:hover {
	text-decoration:underline;
}

/*start /portfolio*/

#menuButton {
	background-color:rgba(0,0,0,0.8);
	cursor:pointer;
	right:0;
	height:3.5em;
	width:5em;
}

#menuButton span {
	display:block;
	width:3em;
	height:0.3em;
	margin:0.6em 1em;
	background-color:#fff;
}

.buttonInactive {
	background-color:rgba(0,0,0,0.4) !important;
}

#menuList {
	background-color:rgba(0,0,0,0.4);
	right:0;
}

#menuList li {
	display:block;
	font-size:1.5em;
	font-family:"Copse", serif;
	padding:0.5em 1em;
}

#menuList li:hover {
	background-color: rgba(0,0,0,0.8);
}

#homeLink {
	text-transform:uppercase;
	margin-bottom:1em;

}

#menuList ol li {
	text-transform:lowercase;
}

.hidden {
	display:none !important;
}

.portFull {
	text-align:center;
	display:block;
	margin:1.5em auto;
}

.fullImg {
	max-width:100%;
	margin:0.5em 0;
}

.halfImg {
	display:inline-block;
	width:45%;
	max-width:30em;
	height:auto;
	vertical-align:middle;
	margin-bottom:1em;
}

#uniLogo {
	max-width:30em;
	height:auto;
}

.portText, .portText-half {
	margin:1em;
	padding:2em 3em;
	text-align:left;
	display:inline-block;
	background-color:rgba(0,0,0,0.5);
	vertical-align:middle;
	color:#fff;
}

.portText {
	width:80%;
	max-width:60em;
	min-width:30em;
}

.portText-half {
	width:45%;
	max-width:30em;
	min-width:30em;
}

.portText p, .portText-half p {
	margin-bottom:0.75em;
}

.portText > ul > li{
	list-style-type:none;
	font-size:1.75em;
	margin-top:0.25em;
	margin-left:0.25em;
}

.portText ul ul {
	font-size:1.5em;
	margin:0 0 0.5em 1em;
	list-style-type:none;
}

.OBscreen {
	float:left;
	margin:5px;
	margin-bottom:0 !important;
}

#carousel {
	position:relative;
	overflow:hidden;
	width:100%;
}

#panes {
	width:2040px;
	overflow:hidden;
	position:relative;
}

#carouselNav {
	display:block;
	margin:1em auto 3em auto;
}

#carouselNav img {
	height:3em;
	margin:1em;
}

#prev, #next {
	cursor:pointer;
}

.mobileScreen {
	display:inline-block;
	width:auto;
	max-height:40em;
	vertical-align:middle;
}

#NUlogo {
	max-width:40em;
	height:auto;
	border-radius:50%;
}

#iconMedley, #iconSS {
	border-radius:50%;
	margin:1em;
}

#FSMicon {
	max-width:30em;
	height:auto;
}