@font-face {
    font-family: 'league_gothicitalic';
    src: url('type/leaguegothic-italic-webfont.eot');
    src: url('type/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/leaguegothic-italic-webfont.woff2') format('woff2'),
         url('type/leaguegothic-italic-webfont.woff') format('woff'),
         url('type/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('type/leaguegothic-italic-webfont.svg#league_gothicitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'league_gothicCnRg';
    src: url('type/leaguegothic-condensedregular-webfont.eot');
    src: url('type/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
         url('type/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('type/leaguegothic-condensedregular-webfont.ttf') format('truetype'),
         url('type/leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'league_gothicregular';
    src: url('type/leaguegothic-regular-webfont.eot');
    src: url('type/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('type/leaguegothic-regular-webfont.woff') format('woff'),
         url('type/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('type/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'league_gothiccondensed_italic';
    src: url('type/leaguegothic-condenseditalic-webfont.eot');
    src: url('type/leaguegothic-condenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/leaguegothic-condenseditalic-webfont.woff2') format('woff2'),
         url('type/leaguegothic-condenseditalic-webfont.woff') format('woff'),
         url('type/leaguegothic-condenseditalic-webfont.ttf') format('truetype'),
         url('type/leaguegothic-condenseditalic-webfont.svg#league_gothiccondensed_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    margin:0;
    padding:0;
    /*border:1px dashed #000000;*/
}

body {
    font-family:"league_gothicregular", Arial;
}

#pageWrap {
    width:70%;
    margin-left:2%;
}

header {
    position:relative;
    margin-bottom:2em;
}

h1 {
    text-transform:uppercase;
    font-size:6em;
}

ul {
    list-style-type:none;
}

nav {
    position:absolute;
    bottom:15%;
    right:0%;
}

nav ul li {
    display:inline;
    font-family:Helvetica,Arial;
    font-weight:bold;
    text-transform:lowercase;
    padding:0 0.5em;
    font-size:1em;
}

aside {
    float:left;
    width:25%;
}

aside ul li {
    font-family:Helvetica,Arial;
    font-weight:bold;
    padding-bottom:1em;
}

section {
    float:right;
    width:68%;
}

h3 {
    font-family:Helvetica,Arial;
    font-weight:bold;
    font-size:0.75em;
}

h2 {
    text-transform:uppercase;
    font-size:2em;
    margin-bottom:0.5em;
}

article {
    padding-bottom:2em;
}

article p {
    font-family:Helvetica,Arial;
}