html {
	background-color:#e04006;
}

body {
	font-size:1em;
	font-family:"Gill Sans MT"; Calibri, sans-serif;
	color:#ffffff;
}

h1 {
	text-align:center;
	margin-top:1em;
}

section {
	text-align:center;
	position:relative;
	top:2em;
}

img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

a {
	text-decoration:none;
	color:#ffffff;
}

a p:hover {
	text-decoration:underline;
}